@media all and (max-width: 767px) {
    body{
        color: black;
        margin: 0;
        padding: 0;
        
    }

    .navbar-sticky-on-top{
        position: sticky;
        color: black;
        font-family: 'Playfair Display', serif;
        background-color: #e8eaeda8;
        text-decoration: none;
        font-size: 19px;
        padding: 10px 0px 10px 8px;
        box-shadow:0px 2px 53px 3px rgba(30, 28, 177, 0.279);
        
    }

    .navbar-sticky-on-top .my-name:hover{
        color: black;
    }

    .body-1{
        font-family: 'Assistant', sans-serif;
        font-weight: 500px;

    }
    .user-image{
        border-radius: 50%;
        box-sizing: border-box;
        box-shadow: 17px 37px 30px -11px rgb(0 0 0 / 15%);
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    .my-info .my-name{
        font-family: 'Quicksand', sans-serif;
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 7px;
    }

    .my-info .about-me{
        margin-top: 7px;
        text-align: center;
        font-size: 15px;
    }
    .under-line-01{
        width: 58px;
        height: 4px;
        border-radius: 15px;
        background-color: #3333c8c0;
        margin: 0 ;
    }
    .container .my-resume-and-about-me button{
        color: white;
        background-color: #3333c8b8;
        box-sizing: border-box;
        border: 1px solid #3333c8b8;
        box-shadow: 11px 7px 24px -6px rgb(0 0 0 / 23%);
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        height: 30px;
        width:100px;
    }

    .container .my-resume-and-about-me button:hover{
        transition: cubic-bezier(0.165, 0.84, 0.44, 1);
        color: #2424cfb5;
        background-color: white;
    }

    .container .my-resume-and-about-me{
        margin: 0;
        margin-top: 10px;
        position: absolute;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .okk-techie{
        font-size: 19px;
        margin-top:10px;
        text-align: center;
        font-family: 'Quicksand', sans-serif;
    }

    .edu-work{
        margin-left: 30px;
        margin-right: 30px;
    }

    .skill-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }

    /* ------------------ Work - Box ------------------------------ */
    .container-2{
        margin-top: 20px;
        position: absolute;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }


    .work-box{
        box-sizing:border-box;
        border: 1px solid rgba(0, 0, 0, 0.1);
        height: 100%;
        width: 100%;
        box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
    }
    
    .work-image img{
        width: 100%;
        height: 100%;
    }
    .name-container{
        margin-left: 3px;
    }
    .name-1 p{margin-top: 6px;
        font-size: 22px;
        margin-bottom: 2px;
    }
    .dec-1{
        font-size:9px;
    }
    .flexthis-items{
        display: flex;
        flex-direction: row;
        column-gap: 55%;
    }
    .github-link a{
        text-decoration: none;
        
        font-size: 10px;
    }
    .name-2 p{
        color: blue;
        margin-top: 4px;
        margin-bottom: 0px;
        font-size: 8px;
    }
    .user-name p{
        margin-top: 3px;
        font-size: 9px;
    }

    .contact-form input{
        width: 98%;
        height: 26px;
        border: 1px solid  rgba(59, 3, 173, 0.642) ;
        box-sizing: border-box;
        border-radius: 5px;
        box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
    }
    .cont-1{
        margin: 0;
        margin-bottom: 3px;
        font-size: 11px;
    }
    .submit-btn{
        margin-top: 10px;
        color: white;
        background-color: #3333c8b8;
        box-sizing: border-box;
        border: 1px solid #3333c8b8;
        box-shadow: 11px 15px 24px -11px rgb(0 0 0 / 12%);
        border-radius: 6px;
        height: 30px;
        width:60px;
    }
    .submit-btn:hover{
        color:#3333c8b8 ;
        background-color: white;   
    }
    .user-mail{
        text-decoration: none;
        font-size: 14px;
    }
    .copyright p{
        height: 16px;
        margin: 0;
        padding-top: 6px;
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: rgba(0, 0, 255, 0.493);
        text-align: center;
        font-size: 8px;
    }
}
/* 
font-family: 'DM Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Source Code Pro', monospace; */
